# Define here your docker structure in hub docker
# TODO: allow customizable docker container (for private backups out of the hub.docker.com ecosystem)
DOCKER_HUB_USER=MY_DOCKER_HUB_USER
DOCKER_HUB_PROJECT=THE_DOCKER_HUB_PROJECT
PROJECT_NAME=THE_NAME_OF_YOUR_PROYECT
