services:
  wordpress: ## Wordpress CMS
    image: wordpress:6.7.1
    restart: always
    ports:
      - ${WORDPRESS_PORT}:80
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpresspassword
      WORDPRESS_DB_NAME: wordpress
    depends_on:
      - mysql
    volumes:
      - ./data/volumes/wordpress:/var/www/html

  mysql: ## DB for wordpress
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpresspassword
    volumes:
      - ./data/volumes/mysql:/var/lib/mysql

  mariadb: ## DB for nextcloud
    image: mariadb:10.6.20
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - ./data/volumes/mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_PASSWORD=example
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
  nextcloud: ## Nextcloud PHP CMS
    image: nextcloud:31.0.10
    restart: always
    ports:
      - ${NEXTCLOUD_PORT}:80
    links:
      - mariadb
    volumes:
      - ./data/volumes/nextcloud:/var/www/html
      - /var/www/.well_known:/var/www/.well_known
    environment:
      - MYSQL_PASSWORD=example
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=mariadb
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST=${NEXTCLOUD_DOMAIN}
      - OVERWRITECLIURL=${NEXT_PUBLIC_NEXTCLOUD_URL}
      - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_DOMAIN}
  redis:
    image: redis:alpine
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./data/volumes/redis:/data
  bookmarks: ## A customized view in nextjs involving GPT lightning network and Nextcloud Forms to create views
    image: jorgemartinezpizarro/bookmarks:latest ## Use fix versions as soon as "bookmarks" is fully released
    restart: always
    ports:
      - ${PORT}:3000
    environment:
      - NEXT_PUBLIC_NEXTCLOUD_URL=${NEXT_PUBLIC_NEXTCLOUD_URL}
      - PORT=${PORT}
  matrix:
    image: matrixdotorg/synapse:latest
    ports:
      - 1004:8008
    volumes:
      - ./data/volumes/data:/data
      - ./data/volumes/media_store:/media_store
    restart: unless-stopped
    entrypoint: >
      /bin/sh -c "
      if [ ! -f /data/homeserver.yaml ]; then
        python -m synapse.app.homeserver --generate-config --server-name ${MATRIX_URL} --config-path /data/homeserver.yaml --report-stats=no;
      fi;
      python -m synapse.app.homeserver --config-path /data/homeserver.yaml"
    environment:
      - SMTP_PASS=${SMTP_PASS}
      